# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Build outputs
build/
**/build/

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS / macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Pods/
macos/.symlinks/

# Windows / Linux generated
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# IDE files
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Local properties
local.properties